<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <title>NHSEE</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="nav-left">
                    <a href="{% url 'welcome' %}" id="logo">NHSEE</a>
                    <a href="{% url 'display_judges'  %}" role="button" class="b"> Judge </a>
                    <a href="{% url 'display_students' %}" role="button" class="b"> Student </a>
                    <a href="{% url 'display_projects' %}" role="button" class="b"> Project </a>
                    <a href="{% url 'display_judge_assignments' %}" role="button" class="b"> Judge Assignment </a>
                    <a href="{% url 'import_file' %}" role="button" class="b"> Import File </a>
                    <a href="{% url 'export_judge_assignment' %}" role="button" class="b" >Export Judge Assignment</a>
                    <a href="{% url 'export_project' %}" role="button" class="b" >Export Project</a>
                    <a href="{% url 'remove_all_data' %}" role="button" class="b" >Remove All Data</a>
                    <a href="{% url 'add_score' %}" role="button" class="b" >Scoring</a>
                    <a href="{% url 'display_top_projects' %}" role="button" class="b" >Top Projects</a>
                    <!-- <a href="{% url 'display_unassignedjudge'  %}" role="button" class="b"> UnassignedJudge </a>
                    <a href="{% url 'display_unassignedproject'  %}" role="button" class="b"> UnassignedProject </a> -->
                    <a href="{% url 'display_unassigned'  %}" role="button" class="b"> Unassigned </a>
                    <a href="{% url 'unassigned_judgeassignment'  %}" role="button" class="b"> Assignment </a>
                    <a href="{% url 'remove_judge_assignments' %}" role="button" class="b">Remove Judge</a>
                    <a href="{% url 'remove_project_assignments' %}" role="button" class="b">Remove Project</a>

            </div>
        </header>
        <div id="content">
            {% block content %}
            {% endblock content%}
        </div>

    </body>
</html>
