
{% extends 'base.html' %}
    {% block content %}
    <div style="height:90vh;">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <button type="submit" onclick="return confirm('Are you sure?');"> Confirm </button>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </form>
    </div>
{% endblock content %}
